/* purgecss start ignore */
@import "tailwindcss/base";

@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
